    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>Learn More About <span>PIWPIW</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img" style="background-image: url(assets/img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Any one from japan can tell you: the two key ingredients in ramen are the broth in the noodles.</p>
              <ul>
                <li><i class="bi bi-fire"></i>Soup: Our sophisticated, rich, and flavourful soup base in an exquisite harmony.</li>
                <li><i class="bi bi-fire"></i>Noodle: Using hight quality flour and kneading the dough with a special air-tight mixing technique, we create the best texture and flavour in our noodles</li>
              </ul>
              <div class="position-relative mt-4">
                <img src="assets/img/about-2.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>